<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medi World</title>
    <link rel="stylesheet" href="css/storeCss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@300&display=swap" rel="stylesheet">

  </head>

  <body>

    <nav id="myNav">
        <!-- <div class="search"> <img src="https://img.icons8.com/cute-clipart/64/000000/search.png"/> <a href="#">SearchMedicines</a> </div>
        <div class="locate"><img style="width:20%;" src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-pin-medical-kiranshastry-lineal-color-kiranshastry.png"/> <a href="#">LocateNearbyStores</a> </div>
        <div class="profile"><img style="width:35%;height:65%;" src="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/64/000000/external-user-shopping-mall-xnimrodx-lineal-color-xnimrodx.png"/><a href="#">Profile</a> </div>
        <div class="team"> <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-team-achievements-flaticons-flat-flat-icons.png"/><a href="#">Team</a> </div>
        <div class="logout"> <img src="https://img.icons8.com/external-anggara-filled-outline-anggara-putra/32/000000/external-log-out-ecommerce-anggara-filled-outline-anggara-putra.png"/><a href="#">Log out</a> </div> -->

        <div class="addNewMedicine"><img src="https://img.icons8.com/ios/30/000000/add--v1.png"/> <a href="/addNewMedicine">AddNewMedicine</a> </div>
        <div class="profile"><img src="https://img.icons8.com/ios/50/000000/user-male-circle.png"/><a href="#">Profile</a> </div>
        <div class="team"> <img src="https://img.icons8.com/ios/50/000000/teamwork--v1.png"/><a href="#">Team</a> </div>
        <div class="logout"> <img src="https://img.icons8.com/ios/50/000000/exit.png"/><a href="/logout">Log out</a> </div>


    </nav>
